.header__title {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    text-align: center;
}

$base-color: whitesmoke;
$add-color: black;
header {
    background-color: lighten($add-color, 10); // saturate - сделать цвет насыщеней
    color: darken(saturate($base-color, 30%), 10); //darken - сделать цвет темнее
    margin-bottom: 30px;
}