        body {
            margin: 0;
            padding: 0;
        }
        
        #myImg {
            width: 150px;
            transition: width 2s, height 2s, transform 2s;
        }
        
        .animation {
            width: 150px;
            left: 40%;
            top: -300px;
            position: absolute;
            animation-name: animation;
            animation: animation 10s ease-in-out infinite;
        }
        
        #myImg:hover {
            animation-play-state: paused;
            width: 195px;
        }
        
        footer {
            text-align: center;
            position: absolute;
            font-size: 14px;
            color: black;
        }
        
        @keyframes animation {
            0% {
                top: -300px;
                transform: rotateX(20deg) rotateY(180deg) rotateZ(60deg);
            }
            25% {
                top: -200px;
            }
            50% {
                top: -350px;
                transform: rotateX(-20deg) rotateY(180deg) rotateZ(-60deg);
            }
            75% {
                top: -200px;
            }
            100% {
                top: -300px;
                transform: rotateX(20deg) rotateY(180deg) rotateZ(60deg);
            }
        }
        
        .animation-cloud {
            position: absolute;
            animation-name: animation-cloud;
            animation: animation-cloud 30s linear infinite;
        }
        
        @keyframes animation-cloud {
            0% {
                left: -10%;
            }
            100% {
                left: 100%;
            }
        }
        
        .animation-cloud2 {
            position: absolute;
            animation-name: animation-cloud2;
            animation: animation-cloud2 30s linear infinite;
        }
        
        @keyframes animation-cloud2 {
            0% {
                left: 110%;
            }
            100% {
                left: 0%;
            }
        }
        
        .animation-sun {
            position: absolute;
            top: 0;
            right: 0;
            animation-name: animation-sun;
            animation: animation-sun 30s ease-in-out infinite;
        }
        
        @keyframes animation-sun {
            0% {
                transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            }
            100% {
                transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
            }
        }
        
        .animation-leafs2 {
            position: absolute;
            margin-top: 100px;
            right: -20%;
            animation-name: animation-leafs2;
            animation: animation-leafs2 10s linear infinite;
        }
        
        @keyframes animation-leafs2 {
            0% {
                right: -20%;
            }
            25% {
                right: 15%;
            }
            50% {
                right: 30%;
            }
            60%{
                margin-top: 100px;
                right: 45%;
            }
            75% {
                margin-top: 500px;
                right: 55%;
            }
            100% {
                margin-top: 1000px;
                right: 100%;
            }
        }
        
        .animation-leafs3 {
            position: absolute;
            margin-top: 500px;
            right: -20%;
            animation-name: animation-leafs3;
            animation: animation-leafs3 10s linear infinite;
        }
        
        @keyframes animation-leafs3 {
            0% {
                right: -20%;
            }
            25% {
                right: 40%;
            }
            50% {
                right: 75%;
            }
            60%{
                right: 80%;
                margin-top: 500px;
            }            
            75% {
                margin-top: 700px;
                right: 90%;
            }
            100% {
                margin-top: 1000px;
                right: 115%;
            }
        }
        
        .animation-leafs {
            position: absolute;
            margin-top: 300px;
            right: -20%;
            animation-name: animation-leafs;
            animation: animation-leafs 10s linear infinite;
        }
        
        @keyframes animation-leafs {
            0% {
                right: -20%;
            }
            25% {
                right: 25%;
            }
            50% {
                right: 50%;
            }
            60%{
                margin-top: 300px;
                right: 55%;
            }
            75% {
                right: 75%;
            }
            100% {
                margin-top: 1000px;
                right: 100%;
            }
        }