body {
    padding: 30px;
}

.container {
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    gap: 20px;
}

.container__item {
    background-color: greenyellow;
    border-radius: 10px;
    width: 100px;
    height: 70px;
    padding: 10px;
}

.container__item_active {
    background-color: green;
    border-radius: 10px;
    width: 120px;
    height: 80px;
    padding: 20px;
}

.left-up {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.right-down {
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}

.width-align {
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
}

.item1 {
    order: 1;
}

.item2 {
    order: 2;
}

.item3 {
    order: 3;
}

.item4 {
    order: 4;
}

.item5 {
    order: 5;
}

.grow-item-3 {
    flex-grow: 3;
}

.grow-item-2 {
    flex-grow: 2;
}

.wrap-col:hover {
    flex-direction: column-reverse;
}

.wrap-col:hover .container__item {
    background-color: black;
    color: white;
}

.space-between{
    justify-content: space-between;
}